body{
    background: #dcdde1;
}
.navbar-brand img{
    width: 50px;
}
.img{
    text-align: center;
    margin: 10px;
    border: 2px #343a40 solid;
}
.avatar{
    margin:10px;
    border: 2px #343a40 solid;
    height: 104px;
    width: 104px;
}
.img img{
    max-width: 600px;
    max-height: 600px;
}

.card-image-top{
    max-height: 280px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    transition: transform .5s ease !important;
    object-fit: cover;
    object-position: center center;
}
.lista:hover img{
    transform: scale(1.3);
    filter: contrast(1.1);
}
.img-container {
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}
.lista{
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0 ;
}

.avatar-image{
    margin: auto;
    color: white;
    padding: 0px 15px;
    border: 1px solid #fff;
    border-radius: 20px;
    text-align: center;
    background-color: #145da5;
    cursor: pointer;
    margin-top: 0;
}